@using Microsoft.AspNetCore.Identity
@using WebApplication4.Areas.Identity.Data
@model List<ApplicationUser>


@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Home Page";
} 

@{
    if (User.Identity.IsAuthenticated)
    {
    <div class="container p-3">
        <div class="row pt-4">
            <div class="col-6"><h2>Таблица Пользователей</h2></div>
            <div class="col-6 text-end">
                <div class="btn-group" role="group" aria-label="Basic example">                    
                    <button type="button" id="btnBlock" class="btn btn-secondary"><i class="bi bi-lock"></i>Блок</button>
                    <button type="button" id="btnUnblock" class="btn btn-secondary"><i class="bi bi-unlock"></i>Разблокировать</button>
                    <button type="button" id="btnDelete" class="btn btn-secondary"><i class="bi bi-x-circle"></i> Удалить</button>
                </div>
            </div>
        </div>
    </div>
    <br/>
    }
    else
    {
    <div class="container p-3">
        <div class="row pt-4">
            <div class="col-6"><h2>Таблица Пользователей</h2></div>
            <div class="col-6 text-end">
                <div class="btn-group" role="group" aria-label="Basic example">
                    <button type="button" onclick="btnClick()" class="btn btn-secondary"><i class="bi bi-lock"></i><a class="nav-link text-dark" href="/Home/Block/"></a>Блок</button>
                    <button type="button" onclick="btnClick()" class="btn btn-secondary"><i class="bi bi-unlock"></i>Разблокировать</button>
                    <button type="button" onclick="btnClick()" class="btn btn-secondary"><i class="bi bi-x-circle"></i>Удалить</button>
                </div>
            </div>
        </div>
    </div>
    <br/>    
    }
}
@using(Html.BeginForm(FormMethod.Post))
{
    <table class="table table-hover" id="table">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Имя пользователя</th>
                <th scope="col">Email</th>
                <th scope="col">Дата регистрации</th>
                <th scope="col">Дата последнего входа</th>
                <th scope="col">В сети</th>
                <th scope="col">Статус блока</th>
                <th>
                    <input class="form-check-input" onclick="selectAll(this)" type="checkbox" name="allCheck" id="selectedAll">Выбрать все
                </th>
            </tr>
        </thead>
        <tbody></tbody>
        @for (var i = 0; i < Model.Count; i++)
        {
            <tr class="table-active">
                <td id="Id">@Model[i].Id</td>
                <td id="Name">@Model[i].Name</td>
                <td id="Email">@Model[i].Email
                </td>
                <td id="CreateDateTime">@Model[i].CreateDateTime
                </td>
                <td id="LastLoginDateTime">@Model[i].LastLoginDateTime
                </td>
                <td id="IsOnline">
                    @ApplicationUserViewModel.GetStatusMessage(Model[i].IsOnline)
                </td>
                <td id="IsBlocked">
                    @ApplicationUserViewModel.GetStatusMessage(Model[i].IsBlocked)
                </td>
                <td id="Item"><input class="form-check-input" type="checkbox" id="flexCheckDefault"></td>
            </tr>
        }
    </table>
}

@section Scripts  
{  
    <script type="text/javascript">  
    $(document).ready(function(){
        $.ajax({
            url: "@Url.Action("Index", "Home")"
        });
    });

    $(function () {   

        $("#btnUnblock").click(function () {    
            var model = {};
            model.Id = [];
            model.Item = [];
            var rows = document.getElementsByTagName("table")[0].rows;
            rows = Array.from(rows).slice(1);
            var boxes = document.querySelectorAll("table input[type='checkbox']");
            boxes = Array.from(boxes).slice(1);
            for (var i = 0; i < boxes.length; i++) {
                if (boxes[i].checked){
                    var currentRows = rows[i]; 
                    model.Id.push(currentRows.cells[0].innerHTML);
                    model.Item.push(boxes[i].checked);
                }
            }
            console.log(model);
            $.ajax({  
                type: "POST",  
                url: '@Url.Action("Unblock")',  
                data: model,  
                dataType: "json"
            }).done(function(){
                window.location.reload();

            });  
            return false;  
        });


        $("#btnBlock").click(function () {    
            var model = {};
            model.Id = [];
            model.Item = [];
            var rows = document.getElementsByTagName("table")[0].rows;
            rows = Array.from(rows).slice(1);
            var boxes = document.querySelectorAll("table input[type='checkbox']");
            boxes = Array.from(boxes).slice(1);
            for (var i = 0; i < boxes.length; i++) {
                if (boxes[i].checked){
                    var currentRows = rows[i]; 
                    model.Id.push(currentRows.cells[0].innerHTML);
                    model.Item.push(boxes[i].checked);
                }
            }
            console.log(model);
            $.ajax({  
                type: "POST",  
                url: '@Url.Action("Block")',  
                data: model,  
                dataType: "json"
            }).done(function(){
                window.location.reload();

            });  
            return false;  
        });

 
        $("#btnDelete").click(function () {    
            var model = {};
            model.Id = [];
            model.Item = [];
            var rows = document.getElementsByTagName("table")[0].rows;
            rows = Array.from(rows).slice(1);
            var boxes = document.querySelectorAll("table input[type='checkbox']");
            boxes = Array.from(boxes).slice(1);
            for (var i = 0; i < boxes.length; i++) {
                if (boxes[i].checked){
                    var currentRows = rows[i]; 
                    model.Id.push(currentRows.cells[0].innerHTML);
                    model.Item.push(boxes[i].checked);
                }
            }
            console.log(model);
            $.ajax({  
                type: "POST",  
                url: '@Url.Action("Delete")',  
                data: model,  
                dataType: "json"
            }).done(function(){
                window.location.reload();

            });  
            return false;  
        });  
    });  
      
    function LoadData() {  
        $("#table tbody tr").remove();  
        $.ajax({  
            type: 'GET',  
            url: '@Url.Action("GetUsers")',  
            dataType: 'json',   
            success: function (data) {  
               
                $.each(data.value, function (i, item) {  
                    var rows = "<tr class='table-active'>"  
                    + "<td id='Id'>" + item.id + "</td>"  
                    + "<td id='Name'>" + item.name + "</td>"  
                    + "<td id='Email'>" + item.email + "</td>" 
                    + "<td id='CreateDateTime'>" + item.createDateTime + "</td>"
                    + "<td id='LastLoginDateTime'>" + item.lastLoginDateTime + "</td>"
                    + "<td id='IsOnline'>" + item.isOnline + "</td>"
                    + "<td id='IsBlocked'>" + item.isBlocked + "</td>"
                    + "<td id='Item'>" + "<input class='form-check-input' type='checkbox' id='flexCheckDefault'>" + "</td>"
                    + "</tr>";  
                    $('#table tbody').append(rows);  
                });  
            },  
            error: function (ex) {  
                var r = jQuery.parseJSON(response.responseText);  
                alert("Message: " + r.Message);  
                alert("StackTrace: " + r.StackTrace);  
                alert("ExceptionType: " + r.ExceptionType);  
            }  
        });  
        return false;  
    }  
    </script>  
}


